<div id="grids">
  <div>
    <h1>WCMC.io: visits in the last week</h1>
    <div id="map"></div>
  </div>

  <div>
    <h1>Github commits</h1>
    <ul id="github_commits"></ul>
  </div>

  <div>
    <h1>Github pull requests</h1>
    <ul id="github_pull_requests"></ul>
  </div>

  <div id="ducksboard_stats">
    <iframe id="protectedplanets" src="https://public.ducksboard.com/w/kUKb-eDFyokb5wTBmB-Q" width="300" height="146" frameborder="0" scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
    <iframe id="unepwcmc" src="https://public.ducksboard.com/w/2QAae81uWYOU4gXH3bqs" width="300" height="146" frameborder="0" scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
    <iframe id="beta_unepwcmc" src="https://public.ducksboard.com/w/tz1xsoKgXl4YJPMBik2V" width="300" height="146" frameborder="0" scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
    <iframe id="uservoice" src="https://public.ducksboard.com/w/iCh2CJSzjXbguNxnqCzB" width="300" height="332" frameborder="0" scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
  </div>
</div>
