<div id="nav-container">
  <div id="nav">
      <a id="home_link" href="/" title="Home"><img src="<%= asset_path 'logo_white_transparent.png' %>" width="" height="" alt="project 2"/></a>
    <ul id="large-menu">
      <li><a href="" title="">Informatics Dashboard</a></li>
    </ul>
  </div>
</div>

<div id="grids">
  <div class="block-width-2">
    <h1>WCMC.io: visits in the last week</h1>
    <div id="map"></div>
  </div>

  <div class="block-width-1">
    <h1>Github commits</h1>
    <ul id="github_commits"></ul>
  </div>

  <div class="block-width-1">
    <h1>Github pull requests</h1>
    <ul id="github_pull_requests"></ul>
  </div>

  <div class="block-width-1">
    <iframe id="protectedplanets" src="https://public.ducksboard.com/w/kUKb-eDFyokb5wTBmB-Q" width="250" height="146" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="block-width-1">
    <iframe id="unepwcmc" src="https://public.ducksboard.com/w/2QAae81uWYOU4gXH3bqs" width="250" height="146" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="block-width-1">
    <iframe id="beta_unepwcmc" src="https://public.ducksboard.com/w/tz1xsoKgXl4YJPMBik2V" width="250" height="146" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="block-width-1">
    <iframe id="uservoice" src="https://public.ducksboard.com/w/rE1I7gvgsdsAQ0NrQPpb" width="250" height="146" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="block-width-1">
    <iframe id="uservoice" src="https://public.ducksboard.com/w/iCh2CJSzjXbguNxnqCzB" width="250" height="146" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
