// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grids {
  > div {
    display: inline-block;
    border: 1px solid #CCC;
  }
}

#github_commits,
#github_pull_requests {
  img {
    width: 30px;
    height: 30px;
  }
}

#map {
  width: 400px;
  height: 200px;
}
