// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grids {
  > div {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 3px solid #CCC;
  }
}

#github_commits,
#github_pull_requests {
  padding: 5px;
  width: 300px;

  li {
    list-style-type: none;
  }

  img {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 3px;
  }
}

#map {
  width: 400px;
  height: 200px;
}
