// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= depend_on_asset "teamboard-background.jpg"

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
  background: image-url("teamboard-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

#grids {
  width: 1728px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  > div {
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    display: block;
    float:left;
    border: 0px solid;
    box-sizing: border-box;
  }

  .block-width-1 {
    width: 412px;
  }

  .block-width-2 {
    width: 834px;
  }
}

#github_commits,
#github_pull_requests {
  padding: 5px;
  margin: 0px;

  li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style-type: none;
  }

  img {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 3px;
  }
}

div.block-width-2#map-container {
  width: 844px;
}

#map {
  width: 100%;
  height: 342px;
}

iframe {
  border: solid rgba(243, 243, 232, 0.701961) 10px;
  border-radius: 5px;
  box-sizing: content-box;
}

#protected-planet-stats {
  width: 412px;
  height: 340px;
  padding: 10px;
  ul {
    list-style-type: none;
    
  }
}

.travis {
  padding: 0;

  li {
    list-style-type: none;
    padding: 5px 2px;

    span {
      float: right;
    }
  }

  li:nth-child(even) {
    background-color: #eee;
  }
}

.bar {
  color: white;
  background-color: green;
  float: left;
  padding: 5px 2px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}

#nagios-list {
  background-color: #ff1111;
}

#nagios-list:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.s-chart .subtitle {
  font-family: "museo-sans";
}

iframe {
  width: 95%;
}

div.block-width-1, div.block-width-2 {
  overflow: scroll;
  h1 {
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0 15px 0;
  }
}

#user-voice, #protected-planet-stats, #commits {
  height: 431px;
}

ul.travis {
  margin: 0;
}

#user-voice iframe {
  height: 390px;
}
